body, html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

*{
    box-sizing: border-box;
}

canvas{
    width: 100%;
    height: 100%;
}

#gameStatus{
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    height: 80px;
    font-size: 50px;
    text-align: center;
    padding: 10px;
}

#player1Status, #player2Status{
    width: 40%;
    height: 40px;
    border-radius: 100px;
    display: flex;
    flex-wrap: nowrap;
    border-radius: 100px;
    background-color: #6d6c6c;
}

#player1Status{
    align-content: end;
}

#player2Status{
    align-content: start;
}

#player1HealthBar, #player2HealthBar{
    width: 100%;
    height: 100%;
    border-radius: 100px;
}

#player1HealthBar{
    background: linear-gradient(90deg, rgba(150,26,26,1) 0%, rgba(255,0,0,1) 100%);
}

#player2HealthBar{
    background: linear-gradient(90deg, rgba(3,142,242,1) 0%, rgba(28,58,128,1) 100%);
}   

#timer{
    width: 15%;
    height: 60px;
    background-color: #1e1717;
    margin: auto;
    font-size: 40px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    border: 3px solid rgb(142, 130, 130);
}